<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./assets/mvp.css">

    <meta charset="utf-8">
    <meta name="description" content="AWESOME TECH - OpenFaas Template.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AWESOME TECH - FastAPI + OpenFaas</title>

</head>

<body>
    <header>
        <nav>
            <a href="#"><img alt="logo" src="./assets/logo.svg" height="25"></a>
            <ul>
                <li>Home</li>
                <li><a href="#">FAQ</a></li>
                <li><a href="https://www.github.com/alfranz/openfaas-fastapi-demo/" target="_blank">GitHub &nearr;</a></li>
            </ul>
        </nav>
        <h1>This site runs on <u>faasd</u> and <u>FastAPI</u> 🤝</h1>
        <p><b>Check out how this was built in my <a href="#">blog article</a>. Also this a random number <mark>{{ variable }}</mark>.</p>
        <br>

        <h2>Styled with the powerful <a href="https://github.com/andybrewer/mvp/">MVP.css</a>.</h2>
    </header>
    <section>

    <hr>
        <div id="figure">
            <header>
                <h2>A decent MVP in no time</h2>
                <p>More building and less designing with "set and forget" styling.</p>
            </header>
            <figure>
                <img alt="Stock photo" src="./assets/corgi.jpeg">
                <figcaption><i>Cute corgi puppy by <a href="https://www.flickr.com/photos/evocateur/6342530545">Daniel</a></i></figcaption>
            </figure>
        </div>

    </section>

    <footer>
        <hr>
        <p>
            Made by <a href="https://www.alexfranz.com" target="_blank">Alex Franz
                &nearr;</a><br>
        </p>
    </footer>

</body>

</html>